<!--label class="sr-only" id="rank-hidden{{id}}">{{rank}}</label-->


<div class="row strip justify-content-center">
    <a class="up-click" href="" name="{{ id }}">
        {% if up_down == "up" %}
            <div class="v-a">
                <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                     viewBox="0 0 36 36">
                    <path d="M2 26h32L18 10z"></path>
                </svg>
            </div>
        {% else %}


            <div class="v-g">
                <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                     viewBox="0 0 36 36">
                    <path d="M2 26h32L18 10z"></path>
                </svg>
            </div>
        {% endif %}
    </a>
</div>
<div slass="row strip justify-content-center" id="rank{{ answer.id }}">
    {{ rank }}
</div>

<div class="row strip justify-content-center">
    <a class="down-click" href="" name="{{ id }}">

        {% if up_down == "down" %}

            <div class="v-a">
                <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                     viewBox="0 0 36 36">
                    <path d="M2 10h32L18 26z"></path>
                </svg>
            </div>
        {% else %}
            <div class="v-g">
                <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                     viewBox="0 0 36 36">
                    <path d="M2 10h32L18 26z"></path>
                </svg>
            </div>
        {% endif %}
    </a>
</div>

{% if right %}
    <div class="row strip justify-content-center mt-2 mb-2 v-g">
        <a class="tight-click" href="">
            <div class="v-a">
                <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16z"></path>
                </svg>
            </div>
        </a>
    </div>
{% else %}
    <div class="row strip justify-content-center mt-2 mb-2">
        <a class="tight-click" href="">
            <div class="v-g">
                <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16z"></path>
                </svg>
            </div>
        </a>
    </div>
{% endif %}



