
{% extends 'base.html' %}
{% load staticfiles %}

  {% block main_content %}

    <form class="text-left" action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {% if request.user.userwithavatar.avatar %}
        <img class="mb-4 avatar-big" src="/{{ request.user.userwithavatar.avatar }}" id="photo" name="photo" alt="Choose new photo">
        {% else %}
        <img class="mb-4 avatar-big" src="{% static '/img/logo_white.png' %}" alt="LOGO" id='photo' >
        {% endif %}
    <input type="file" hidden accept="image/*,image/jpeg" id="avatar" name="avatar">
     <h1 class="h3 mb-3 font-weight-normal">{{ request.user.username }}</h1>
         <div class="form-group label-input text-left">
      <label for="id_email">E-mail</label>
      <input type="text" name="email" id="id_email" class="form-control" placeholder="" value="{{ request.user.email }}" required autofocus>
         </div>
        {% for error, value in form.errors.items %}
        <div class="text-muted redcolor">{{value}}</div>
        {% endfor %}
      <hr class="featurette-divider">
      <button class="btn btn-lg btn-warning btn-block" type="submit">Save Changes</button>
    </form>
  {% endblock %}