{% extends 'base.html' %}
{% block main_content %}
{% load staticfiles %}
<div class="row strip">
    <div class="col votes text-center">
        <div class="votes-w votes" id="question">
{% if is_authenticated %}
            <div class="row strip justify-content-center">
                <a class="up-click-q" href="" name="{{question.id}}">
                    {% if up_down_q == "up" %}
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>

                    {% else %}
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
                    {% endif %}
                </a>
            </div>
           {% else %}
            <div class="row strip justify-content-center">
                                <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
            </div>
{% endif %}
            <div class="row strip justify-content-center">
                {{question.rank}}
            </div>
{% if is_authenticated %}
            <div class="row strip justify-content-center">
                <a class="down-click-q" href="" name="{{question.id}}">
                    {% if up_down_q == "down" %}
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>

                    {% else %}
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
                    {% endif %}
                </a>
            </div>
            {% else %}
            <div class="row strip justify-content-center">
                   <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col strip">
        <div class="row strip">
            <h3>{{ question.title }}</h3>
        </div>
        <!--hr class="featurette-divider md-3"-->
        <div class="row strip">
            {{question.text}}
        </div>
        <div class="row strip text-right d-flex justify-content-end">

            <div class="mr-1">
                {{question.author.username}}
            </div>
            {% if request.user.userwithavatar.avatar %}
            <img class="avatar-sm" src="/{{ question.author.userwithavatar.avatar }}">
            {% else %}
            <img src="{% static '/img/logo_white.png' %}" class="avatar-sm">
            {% endif %}
        </div>
        <div class="row strip text-muted text-right justify-content-end mb-3">
            asked {{question.get_text_date}}
        </div>
    </div>
</div>
<hr class="featurette-divider">
{% load template_filters %}

{% if answers %}
<h3 class="ml-4 mb-4">Answers:</h3>

{% if right_answer %}
<div class="row strip mb-3 ml-4">
    <div class="col votes text-center">
        <div class="votes-w votes" id="answer{{right_answer.id}}">
            {% if is_authenticated %}
            {% if up_down_a|get_item:right_answer.id == "up" %}

            <div class="row strip justify-content-center">
                <a class="up-click" href="" name="{{right_answer.id}}" id="answer-up{{right_answer.id}}">
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="row strip justify-content-center">
                <a class="up-click" href="" name="{{right_answer.id}}" id="answer-up{{right_answer.id}}">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% endif %}
            {% else %}
            <div class="row strip justify-content-center">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
            </div>

            {% endif %}
            <div slass="row strip justify-content-center" id="rank{{right_answer.id}}">
                {{right_answer.rank}}
            </div>
             {% if is_authenticated %}
            {% if up_down_a|get_item:right_answer.id == "down" %}

            <div class="row strip justify-content-center">
                <a class="down-click" href="" name="{{right_answer.id}}" id="answer_down{{right_answer.id}}">
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="row strip justify-content-center">
                <a class="down-click" href="" name="{{right_answer.id}}" id="answer_down{{right_answer.id}}">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% endif %}
            {% else %}
            <div class="row strip justify-content-center">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
            </div>
    {% endif %}
            <div class="row strip justify-content-center mt-2 mb-2">
                {% if request.user == question.author %}
                <a class="right-click" href="/right_answer?id={{question.id}}&answer_id={{right_answer.id}}"
                   name="answer_link">
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16z"></path>
                        </svg>
                    </div>
                </a>
                {% else %}
                <div class="v-a">
                    <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16z"></path>
                    </svg>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="col strip">
        <div class="row strip">
            {{ right_answer.text }}
        </div>
        <div class="row strip text-right justify-content-end">
            {{ question.author.username }}
            {% if question.author.userwithavatar.avatar %}
            <img class="avatar-sm" src="/{{ answer.author.userwithavatar.avatar }}">
            {% else %}
            <img src="{% static '/img/logo_white.png' %}" class="avatar-sm">
            {% endif %}
        </div>
        <div class="row strip text-muted text-right justify-content-end">
            answered {{right_answer.get_text_date}}
        </div>
    </div>
</div>

{% endif %}

{% for answer in answers %}
{% if question.right_answer != answer.id %}
<div class="row strip mb-3 ml-4">
    <div class="col votes text-center">
        <div class="votes-w votes" id="answer{{answer.id}}">
{% if is_authenticated %}
            {% if up_down_a|get_item:answer.id == "up" %}

            <div class="row strip justify-content-center">
                <a class="up-click" href="" name="{{answer.id}}" id="answer-up{{answer.id}}">
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="row strip justify-content-center">
                <a class="up-click" href="" name="{{answer.id}}" id="answer-up{{answer.id}}">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% endif %}
            {% else %}
           <div class="row strip justify-content-center">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 26h32L18 10z"></path>
                        </svg>
                    </div>
            </div>

    {% endif %}
            <div slass="row strip justify-content-center" id="rank{{answer.id}}">
                {{answer.rank}}
            </div>
            {% if is_authenticated %}
            {% if up_down_a|get_item:answer.id == "down" %}

            <div class="row strip justify-content-center">
                <a class="down-click" href="" name="{{answer.id}}" id="answer_down{{answer.id}}">
                    <div class="v-a">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="row strip justify-content-center">
                <a class="down-click" href="" name="{{answer.id}}" id="answer_down{{answer.id}}">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            {% endif %}
            {% else %}
           <div class="row strip justify-content-center">
                    <div class="v-g">
                        <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36"
                             viewBox="0 0 36 36">
                            <path d="M2 10h32L18 26z"></path>
                        </svg>
                    </div>
            </div>

            {% endif %}
            {% if request.user == question.author %}
            <div class="row strip justify-content-center mt-2 mb-2 v-g">
                <a class="v-g tight-click" href="/right_answer?id={{question.id}}&answer_id={{answer.id}}"
                   name="answer_link">
                    <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16z"></path>
                    </svg>
                </a>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="col strip">
        <div class="row strip">
            {{ answer.text }}
        </div>
        <div class="row strip text-right justify-content-end">
            {{ question.author.username }}
            {% if question.author.userwithavatar.avatar %}
            <img class="avatar-sm" src="/{{ answer.author.userwithavatar.avatar }}">
            {% else %}
            <img src="{% static '/img/logo_white.png' %}" class="avatar-sm">
            {% endif %}
        </div>
        <div class="row strip text-muted text-right justify-content-end">
            answered {{answer.get_text_date}}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% include 'pages.html' %}
{% else %}
<h3>No answers yet - you can be first</h3>
{% endif %}

{% if is_authenticated %}
<hr class="featurette-divider">
<form class="" action="{% url 'question' question.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Your answer</h1>
    <div class="form-group label-input d-none">
        <label for="id_username" class="sr-only">Username</label>
        <input type="text" name="question_id" value={{question.id}} id="id_username" class="form-control"
               placeholder=""
               autofocus>
    </div>
    <div class="form-group label-input">
        <textarea type="text" id="answer_text" name="answer_text " placeholder="" class="form-control bg-white"
                  required></textarea>
    </div>
    <button class="btn btn-lg btn-warning btn-block" type="submit">Commit</button>

    <input type="hidden" id="profile" name="profile" value="{% url 'index' %}"/>


</form>
{% endif %}
{% endblock %}
